body{
	font-family: Verdana;
	padding: 0 15px;
	text-align: center;
}
header{
	text-align: center;
}
a{
	text-decoration: none;
}
p{
	font-size: 18px;
}
img {
	border-radius: 15px;
}
table{
	margin: 0 auto;
}